body{
    background-color: white;
}
.yarim0{
    color: black;
    border: 2px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: mediumpurple;

}
.yarim{
    color: gray;
    border: 2px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: mediumpurple;

}
.yarim2{
    color: gray;
    border: 2px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: mediumpurple;

}
.yarim3{
    color: gray;
    border: 2px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: mediumpurple;

}
.yarim4{
    color: gray;
    border: 2px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: mediumpurple;

}
.yarim5{

    color: gray;
    border: 2px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: mediumpurple;
}